{% extends "base.html" %}
{% block start %}
<h1>This is index page</h1>
    <a href="/contact/">
        contact
    </a>
    |
    <a href="/about/">
        about
    </a>
    <!-- {{peoples}} -->

    <table class="container">
        <tr>
            <th>S_no.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can vote</th>
        </tr>
        
        {% for people in peoples %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td {% if people.age >= 18 %} style="background: red" {% endif %}>
                {% if people.age >= 18 %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

   <p>
    {{text|truncatechars:30}}
   </p>

   <p>
    {% if "cucumber" in vegetables%}
    yes availabe :)
    {% elif "tomato" in vegetables%}
    Yes Available :)
    {% else %}
    Not Available :(
    {%endif%}
   </p>
{% endblock %}