<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-Tutorial</title>
</head>
<body>
    <h1>This file is return by django server</h1>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam aliquam aliquid perspiciatis cupiditate ratione? Natus doloremque iure, doloribus nisi necessitatibus adipisci asperiores voluptatibus eum, veritatis molestias in est amet distinctio.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis eveniet, veritatis nostrum quae placeat, voluptate quod optio in saepe consequuntur minima accusamus debitis amet excepturi. Eum dolores distinctio dolorem harum.</p>
    <script>
        console.log("hey django")
    </script>


</body>
</html>